web-xml/test/test4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns="myNS"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="myNS" 
elementFormDefault="qualified" 
version="1.0">

<xs:element name="root">
<xs:complexType>
  <xs:sequence>
  <xs:element name="number" type="xs:integer" minOccurs="0" maxOccurs="1"></xs:element>
  <xs:element name="boolean" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
  <xs:element name="date" type="xs:date" minOccurs="2" maxOccurs="3"></xs:element>
  </xs:sequence>
</xs:complexType>
</xs:element>


</xs:schema>