web-xml/test/test5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns="myNS"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="myNS" 
elementFormDefault="qualified" 
version="1.0">

<xs:element name="root">
<xs:complexType>
  <xs:choice>
	  <xs:element name="number" type="xs:integer"></xs:element>
	  <xs:element name="boolean" type="xs:boolean" minOccurs="2" maxOccurs="2"></xs:element>
  </xs:choice>
</xs:complexType>
</xs:element>


</xs:schema>